body {padding: 0;margin: 0;font-family: 'SF Display', sans-serif;}
title {text-transform: capitalize}
* {box-sizing: border-box;}
a {color: #000}
.clr {clear: both;}
.algn-cntr {position: relative !important;}
.txt-alg-cntr {text-align: center;}
.cntr {position: absolute;left: 50%;transform: translateX(-50%);}
.mdle {position: absolute;top: 50%;transform: translateY(-50%);}
.cnmd {position: absolute;top: 50%;left: 50%;transform: translateY(-50%) translateX(-50%);}
.fkiri {float: left;}
.fkanan {float: right;}
.kri {position: absolute;left: 0;}
.knn {position: absolute;right: 0;}
.space {height: 200px}
.spacing {height: 20px}
.spaceDelete {padding: 25px;border-bottom: 1px solid #ccc;font-size: 20px; color: #bbb}
.smallText {font-size: 10px;color: #bbb}
.paddingInput {padding: 5px 40px}
  .spaceDelete p {padding: 0;margin: 10px 0 0;font-size: 14px}
  .rekomendAct {background-color: #69c2bc;color: #fff !important}
    .rekomendAct:hover {background-color: #35908a !important;}
    .topline {border-top: 1px solid #eee}
/* .spacer-button {height: 97px} */

.navbar-container {background-color: #fff;box-shadow: 0 0 20px rgba(144, 144, 144, 0.44);position: fixed;top: 0;width: 100%;z-index: 99;}
  .navbar-container ul {list-style-type: none;padding: 0;margin: 0;}
  .navbar-container ul li {float: left;padding: 10px;font-size: 13px;}
  .linkDetail {float: right;}
  .boxData {background-color: #f2f2f2;color: #888;padding: 8.5px 15px !important;font-size: 16px !important;border: 0;margin: 0;float: left;padding: 10px;font-size: 13px;}
  .copyData {padding: 10px 30px !important;border: 0;margin: 0;float: left;padding: 10px;font-size: 13px;}
  .link-home, .copyData {background-color: #69c2bc;color: #fff;}
  .link-home:hover, .copyData:hover {background-color: #35908a;}


.editor-container {height: calc(100% - 35px);margin-top: 35px;position: absolute;width: 70%;overflow: auto;box-shadow: 0 0 20px rgba(144, 144, 144, 0.44)}
.addButton {position: sticky;top: 0;background-color: #fff;z-index: 9;}
  .addButtonLink {padding: 30px;width: 100%;font-size: 25px;background-color: #fff;box-shadow: 0 2px 5px #ddd}
  .buttonActMaster {background-color: #fff;padding: 14px 25px;border-radius: 50px;color: #555;box-shadow: 0 2px 10px #ccc;margin-right: 10px}
    .buttonActMaster:hover {box-shadow: 0 4px 15px #ccc;}

  .listData {padding: 30px;}
  .listDataNoGap {padding: 0 !important;}
    .buttonData {width: 100%;margin-bottom: 7px;text-align: left;border-radius: 10px;background-color: #fff;box-shadow: 0 2px 10px #ccc;overflow: hidden;}
    .buttonDataContainer {position: relative;overflow: hidden;height: 70px;}
    .buttonList {padding: 5px 0 5px 10px;width: calc(100% - 28px);left: 20px}
    .dragMe {height: 60px;width: 15px;background-color: #f4f4f4;color: #9c9c9c;display: table;border-right: 1px solid #eeeeee;position: absolute;top: 50%;left: 5px;transform: translateY(-50%);border-radius: 50px}
      .dragMe i {display: table-cell;vertical-align: middle;font-size: 14px}
      .checkedstatus {background-color: #69c2bc;color: #fff}
    .judulButton {font-size: 20px;line-height: 15px;padding: 6px 2.5px 8px;}
    .linkButton, .linkTool {font-size: 15px;line-height: 20px;padding: 2.5px}
    .linkButton {color: #959899;padding-left: 10px}
    .linkTool {position: absolute;right: 15px;top: 50%;transform: translateY(-50%);font-size: 20px;color: #ccc}
      .linkTool i:hover {color: #888}
    .linkTool i {cursor: pointer;padding: 0 5px}

.view {width: 30%;height: calc(100% - 35px);position: absolute;right: 0;top: 35px;overflow: auto;}

.shadow-popup {width: 100%;height: 100vh;background-color: rgba(0, 0, 0, 0.50);position: fixed;z-index: 9999;display: none;top: 0;left: 0}
  /* .content-popup {min-width: 500px;max-width: 700px;background-color: #fff;box-shadow: 0 0 60px rgba(0, 0, 0, 0.50);border-radius: 5px;overflow: hidden;} */
  .judulButtonPopUp {width: 100%;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);padding: 20px;z-index: 99}
    .judulButtonPopUp h1 {margin: 0}
  .popUpContentContainer {padding: 0}
  .urlCustom {width: calc(100% - 40px);border: 0;border-bottom: 1px solid #ddd;font-size: 16px;padding: 20px;background-color: #0000;margin: 10px 20px 0}
    .urlCustom:focus {outline: 0;border-bottom: 1px solid #69c2bc;}
  .submitURL {width: 100%;padding: 20px;background-color: #69c2bc;color: #fff;border: 0;font-size: 20px;cursor: pointer;margin-top: 20px;font-weight: bold;}
  .submitURL:hover {background-color: #35908a;}
  .closePopUp {color: #69c2bc;cursor: pointer;}
    .closePopUp:hover {color: #35908a;}

.shadow-stats {width: 100%;height: 100vh;background-color: rgba(0, 0, 0, 0.50);position: fixed;z-index: 9999;display: none;top: 0;left: 0}
.contentStatsContainer {min-width: 300px;max-width: 700px;background-color: #fff;box-shadow: 0 0 60px rgba(0, 0, 0, 0.50);border-radius: 5px;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);}
.contentStats {font-size: 100px;text-align: center;line-height: 100px;padding: 20px 20px 0 20px;overflow: hidden;}
.keterangan {text-align: center;padding: 20px 20px 30px}

/* Add Data */
.shadowContainerAddButton {position: fixed;width: 100%;height: 100vh;top: 0;left: 0;z-index: 99;display: none}
.shadownAddButton, .shadownDeleteButton {position: relative;width: 100%;height: 100vh;background-color: rgba(0, 0, 0, 0.50)}
.addDataContainer, .content-popup {width: 500px;max-width: 700px;background-color: #fff;box-shadow: 0 0 60px rgba(0, 0, 0, 0.50);border-radius: 5px;overflow: hidden;}
  .addDataFormContainer {padding: 0px}

/* Add Data */
.shadowContainerWhatsappButton {position: fixed;width: 100%;height: 100vh;top: 0;left: 0;z-index: 99;display: none}
.shadownWhatsappButton {position: relative;width: 100%;height: 100vh;background-color: rgba(0, 0, 0, 0.50)}
.whatsappDataContainer {width: 500px;max-width: 700px;background-color: #fff;box-shadow: 0 0 60px rgba(0, 0, 0, 0.50);border-radius: 5px;overflow: hidden;}
  .whatsappDataFormContainer {padding: 0px}

/* Delete Data */
.deleteShadowContainer {position: fixed;width: 100%;height: 100vh;top: 0;left: 0;z-index: 99;display: none;}
  .deleteDataContainer {min-width: 500px;max-width: 700px;background-color: #fff;box-shadow: 0 0 60px rgba(0, 0, 0, 0.50);border-radius: 5px;overflow: hidden;}

.deleteOptionContainer {position: relative;}
  .deleteOption {width: 50%;padding: 20px;font-size: 20px;text-align: center;font-weight: bold;}
    .nameLinkDelete {margin: 5px 0;color: #333;}

.titleSection {font-size: 55px;font-weight: normal;color: #999;line-height: 1.6em;margin: 0;}
.standartForm {width: 100%;padding: 10px 20px;font-size: 24px;box-shadow: inset 0 0 0 3px #ddd;border: 0;border-radius: 5px;margin: 5px 0 15px}
.standartForm:focus {box-shadow: inset 0 0 0 3px #69c2bc;outline: none}
.standartSpan {font-size: 14px;color: #999;}
.standarSubmit {padding: 20px 40px;border-radius: 50px;font-size: 20px;box-shadow: 0 2px 10px #ccc;margin: 20px auto;border: 0;background-color: #69c2bc;color: #fff;}
.standarLogin {padding: 20px 40px;border-radius: 50px;font-size: 20px;margin: 20px auto;border: 0;color: #f48b06;background-color: #fff}
.standarSubmit, .standarLogin {outline: 0;cursor: pointer;}

.editTitle {position: relative;}
.judulEdit {padding: 20px 0}
#listDataLink {display: none;}

#sortable li {height: 72px;list-style-type: none;}
#sortable {padding: 0;margin: 0}

/* Pilih Theme */
#choose-theme {width: 100%;overflow: auto;cursor: grab;display: none;box-shadow: 0 4px 3px #0001}
#choose-theme::-webkit-scrollbar {height: 0;}
    .theme-container {padding: 10px 20px;width: 1910px;-khtml-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;-o-user-select:none;user-select:none;}
    .theme-item {max-width: 175px;min-width: 150px;min-height: 100px;float: left;margin: 10px}
    .theme-preview {width: 100%;padding: 1px 0;}
        .colorname1 {padding: 1px;border-radius: 60px;cursor: pointer;}
        .colorname1:hover {box-shadow: 0 4px 15px #ccc;}
        .colorname2 {height: 40px;margin: 10px;border-radius: 50px;cursor: pointer;}
    .theme-item h2 {font-weight: normal;font-size: 14px;margin: 0;text-align: center;padding: 10px}
    .pilih-theme {width: 30%;margin: 30px 0 0;position: relative;left: 50%;transform: translateX(-50%);border-radius: 10px;padding: 20px;background-color: #69c2bc;color: #fff;border: 0;font-size: 20px;cursor: pointer;font-weight: bold;display: none;overflow: hidden;}
    .pilih-theme:hover {background-color: #35908a;}


  .check-me {color:#fff;position:relative;top:50%;left:50%;transform: translateY(-50%) translateX(-50%);text-shadow:0 2px 3px #0003;display: none !important;}

/* Account Menu */
#account-menu {display:none;position: absolute;right: 15px; top: 40px;z-index: 99;}
.menu-container {width: 200px;background-color: #fff;border-radius: 10px;overflow: hidden;box-shadow: 0 5px 20px #0002;padding: 10px 0;}
    .menu-container ul {padding: 0;margin: 0;list-style-type: none}
    .menu-container ul a li {text-align: center;padding: 10px;}
    .menu-container ul a li:hover {background-color: #eee}


/* Skin Package */
/* ceria */
.ceria1 {background-color: #fffdef;box-shadow: 0 2px 10px #0005}
.ceria2 {background-color: #ffd858;box-shadow: inset 0 2px 10px #0005}
/* coklat manis */
.coklatmanis1 {background-color: #e6d7c9;box-shadow: 0 2px 10px #0005}
.coklatmanis2 {background-color: #a96851;box-shadow: inset 0 2px 10px #0005}
/* daun */
.daun1 {background-color: #d6f8b8;box-shadow: 0 2px 10px #0005}
.daun2 {background-color: #acdeaa;box-shadow: inset 0 2px 10px #0005}
/* dheafault */
.dheafault1 {background-color: #fff;box-shadow: 0 2px 10px #0005}
.dheafault2 {background-color: #69c2bc;box-shadow: inset 0 2px 10px #0005}
/* gunung berapi */
.gunungberapi1 {background-color: #313131;box-shadow: 0 2px 10px #0005}
.gunungberapi2 {background-color: #525252;box-shadow: inset 0 2px 10px #0005}
/* laut malam */
.lautmalam1 {background-color: #071e3d;box-shadow: 0 2px 10px #0005}
.lautmalam2 {background-color: #1f4287;box-shadow: inset 0 2px 10px #0005}
/* mawar hitam */
.mawarhitam1 {background-color: #0f0766;box-shadow: 0 2px 10px #0005}
.mawarhitam2 {background-color: #ab0e86;box-shadow: inset 0 2px 10px #0005}
/* monokrome */
.monokrome1 {background-color: #e7e3e3;box-shadow: 0 2px 10px #0005}
.monokrome2 {background-color: #bfbcbc;box-shadow: inset 0 2px 10px #0005}
/* perment karet */
.permenkaret1 {background-color: #fdf6fa;box-shadow: 0 2px 10px #0005}
.permenkaret2 {background-color: #ffaaa6;box-shadow: inset 0 2px 10px #0005}
/* perment karet */
.telurgosong1 {background-color: #303242;box-shadow: 0 2px 10px #0005}
.telurgosong2 {background-color: #f2be8d;box-shadow: inset 0 2px 10px #0005}
/* perment karet */
.unguterong1 {background-color: #d5def5;box-shadow: 0 2px 10px #0005}
.unguterong2 {background-color: #6643b5;box-shadow: inset 0 2px 10px #0005}
