/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #69c2bc;
  border: 3px solid #fff;
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #35908a;
}
