body {background-color: #fffdef}

.head h2 {font-size: 30px;font-weight: normal}

.content-container {position: relative;}
    .content-container ul {list-style-type: none;margin: 0;padding: 0}
    .content-container ul a li {padding: 20px;background-color: #ffd858;border-radius: 10px;margin: 10px 20px;text-align: center;color: #444444}
    .content-container ul a li:hover {background-color: #ffbb00}