body {background-color: #e6d7c9}

.head h2 {font-size: 30px;font-weight: normal;color: #5c4d4d}

.content-container {position: relative;}
    .content-container ul {list-style-type: none;margin: 0;padding: 0}
    .content-container ul a li {padding: 20px;background-color: #a96851;border-radius: 10px;margin: 10px 20px;text-align: center;color: #fff}
    .content-container ul a li:hover {background-color: #915b4a;color: #fff}