body {background-color: #071e3d}

.head h2 {font-size: 30px;font-weight: normal;color: #fff}

.content-container {position: relative;}
    .content-container ul {list-style-type: none;margin: 0;padding: 0}
    .content-container ul a li {padding: 20px;background-color: #1f4287;border-radius: 10px;margin: 10px 20px;text-align: center;color: #fff}
    .content-container ul a li:hover {background-color: #278ea5;color: #fff}