body {background-color: #0f0766}

.head h2 {font-size: 30px;font-weight: normal;color: #fff}

.content-container {position: relative;}
    .content-container ul {list-style-type: none;margin: 0;padding: 0}
    .content-container ul a li {padding: 20px;background-color: #ab0e86;border-radius: 10px;margin: 10px 20px;text-align: center;color: #fff}
    .content-container ul a li:hover {background-color: #e01171;color: #fff}