body {background-color: #e7e3e3}

.head h2 {font-size: 30px;font-weight: normal;color: #333}

.content-container {position: relative;}
    .content-container ul {list-style-type: none;margin: 0;padding: 0}
    .content-container ul a li {padding: 20px;background-color: #bfbcbc;border-radius: 10px;margin: 10px 20px;text-align: center;color: #333}
    .content-container ul a li:hover {background-color: #9f9e9e;color: #fff}