body {background-color: #303242}

.head h2 {font-size: 30px;font-weight: normal;color: #fff}

.content-container {position: relative;}
    .content-container ul {list-style-type: none;margin: 0;padding: 0}
    .content-container ul a li {padding: 20px;background-color: #f2be8d;border-radius: 10px;margin: 10px 20px;text-align: center;color: #394359}
    .content-container ul a li:hover {background-color: #dda570;color: #394359}